# general parameters
trial_path:             logs
trial_name:             ppo_acrobot_classical
wandb:                  True

# ray tune parameters
ray_local_mode:         False
num_cpus:               10
num_gpus:               0
ray_num_trial_samples:  10
cpus_per_worker:        3
gpus_per_worker:        0

# environment parameters
env_id:   Acrobot-v1

# algorithm parameters
agent:               PPO_classical
total_timesteps:    200000
learning_rate:      0.001
num_envs:           2
seed:               None
num_steps:          128
anneal_lr:          True
gamma:              0.99
gae_lambda:         0.95
num_minibatches:    4
update_epochs:      4
norm_adv:           True
clip_coef:          0.2
clip_vloss:         True
ent_coef:           0.01
vf_coef:            0.5
max_grad_norm:      0.5
target_kl:          None
cuda: False
save_model: True
wandb: True


