# general parameters
trial_path:             logs
trial_name:             ddpg_pendulum_classical
wandb:                  True

# ray tune parameters
ray_local_mode:         False
num_cpus:               4
num_gpus:               0
num_samples:            3
cpus_per_worker:        3
gpus_per_worker:        0

# environment parameters
env_id:   CartPole-v1

# algorithm parameters
agent:                DQN_classical
total_timesteps:      10000
lr:                   0.001
num_envs:           1
buffer_size:        10000
gamma:              0.99
tau:                1.0
target_network_frequency:   5
batch_size:         16
start_e:            1
end_e:              0.01
exploration_fraction:   0.35
learning_starts:        100
train_frequency:        1
cuda:                   False
save_model:             True
